i.icofont-phone {
    padding: 0px  0px 0px 50px;
    margin-right: -25px;
}


i.icofont-facebook {
    margin-left: 15px;
}

ul.navbar-nav.m-lg-auto {padding-left: 150px;}

li.nav-item {
    padding: 0px 10px;
}

i.icofont-twitter {
    margin-left: -25px;
}

i.icofont-camera-alt {
    margin-left: -30px;
}
i.icofont-phone {
    padding: 0px  0px 0px 50px;
    margin-right: -25px;
}


i.icofont-facebook {
    margin-left: 15px;
}

ul.navbar-nav.m-lg-auto {color: white !important;padding-left: 100px;}

li.nav-item {
    padding: 0px 10px;
}

i.icofont-twitter {
    margin-left: -30px;
}

i.icofont-camera-alt {
    margin-left: -40px;
}
.container-fluid {
    margin-left: 60px !important;
    
}
i.icofont-phone {
    padding: 0px  0px 0px 50px;
    margin-right: -25px;
}


i.icofont-facebook {
    margin-left: 15px;
}

ul.navbar-nav.m-lg-auto {padding-left: 150px;}

li.nav-item {
    padding: 0px 10px;
}

i.icofont-twitter {
    margin-left: -25px;
}

i.icofont-camera-alt {
    margin-left: -30px;
}
i.icofont-phone {
    padding: 0px  0px 0px 50px;
    margin-right: -55px;
}


i.icofont-facebook {
    margin-right: 15px;
    margin-left: -10px;
}

ul.navbar-nav.m-lg-auto {
    padding-left: 0px;
}

li.nav-item {
}

i.icofont-twitter {
    margin-left: -60px;
}

i.icofont-camera-alt {
    margin-left: -85px;
}
.container-fluid {
    margin-left: 60px !important;
    
}
a.nav-link.phone {
}
a.nav-link {}

.contact{
    display: flex;
    width: 500px !important;
}
div#navbarNav {
    margin-left: -150px;
}